
body {
    font-family: 'Times new Roman', sans-serif;
    background-color:black;
    margin: 0;
    padding: 50px;
}

.resume-container {
    display: flex;
    background-color: rgb(3, 247, 255);
    width: 80%;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

/* Left Section Styling */
.left-section {
    background-color: #2c2c2c;
    color: rgb(174, 214, 214);
    padding: 20px;
    width: 35%;
    text-align: center;
    border-right: 5px solid #2b1f20;
}

.profile-picture {
    width: 190px;
    height: 220px;
    margin-top: 10%;
    border-radius: 50%;
    border: 5px solid #57608b;
    margin-bottom: 20px;
}

h1 {
    font-size: 30px;
    margin: 10px 0;
    margin-bottom: 30px;
    text-align: center;
}

h3 {
    font-size: 18px;
    padding: 2%;
    margin: 20px 0 10px;
    color: rgb(218, 197, 197);
    border-radius: 10px;
    box-shadow: 0 0 15px #e63946;
    margin-top: 5%;
    margin-bottom: 5%;
}


ul {
    list-style-type: none; 
    padding: 0;
    margin: 10px 0;
}

ul li {
    margin: 5px 0;
    text-align: left; 
}


.right-section {
    padding: 20px;
    width: 65%;
}

button {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif , sans-serif;
    background-color: black;
    color: white;
    border-radius: 10px;
    box-shadow: 0 0 15px black;
    cursor: pointer;
    margin-top: 10px;
    font-size: 18px;
   padding: 5px 15px;
}

button:hover {
    background-color: #555; 
}


.right-section section {
    margin-bottom: 20px;

.toggle-content {
    max-height: 0; 
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.toggle-content {
    display: none;
    transition: all 0.3s ease-out;
}


.toggle-content.show {
    display: block;
}

#Work-content ul li {
    margin-bottom: 10px; 
}


#Work-content ul li:nth-child(1) {
    margin-bottom: 15px; 
}

#Work-content ul li:nth-child(2) {
    margin-bottom: 15px; 
}



}
